* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

body {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
  gap: 25px;
  width: 100%;
  background-color: rgb(73, 0, 141);
  padding: 15px;
}

.navbar span {
  margin-right: auto;
}

.nav-menu-btn {
  background: transparent;
  color: white;
  border: 1px solid transparent;
}

.nav-menu-btn span {
  font-size: x-large;
}

form > :nth-child(odd) input,
form > :nth-child(odd) select {
  background-color: lightgray;
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
}

form > :nth-child(even) input,
form > :nth-child(even) select {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  height: 50px;
  margin-top: 20px;
}
#numberLabel,
#stateSelect,
#numberLabel > option,
#stateSelect > option {
  width: 60%;
  color: grey;
  padding-left: 15px;
}
#stateSelect {
  width: 100%;
}

#birthday {
  color: grey;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container input,
.input-container select {
  width: 100%;
  height: 100%;
}

.input-container input::placeholder {
  padding-left: 15px;
}

.input-container label {
  font-size: 25px;
  min-width: 29px;
  color: grey;
}
